{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.releaseDate) }}
    {{ form_row(form.imagePath) }}
    {{ form_row(form.genre) }}  <!-- If you have a genre field -->
    <button type="submit" class="btn btn-primary">Save</button>
{{ form_end(form) }}